# wallet-api
wallet-api/dist
wallet-api/node_modules
wallet-api/.env
wallet-api/logs
wallet-api/*.log
wallet-api/npm-debug.log*
wallet-api/pnpm-debug.log*
wallet-api/yarn-debug.log*
wallet-api/yarn-error.log*
wallet-api/lerna-debug.log*
wallet-api/.DS_Store
wallet-api/coverage
wallet-api/.nyc_output
wallet-api/.idea
wallet-api/.project
wallet-api/.classpath
wallet-api/.c9/
wallet-api/*.launch
wallet-api/.settings/
wallet-api/*.sublime-workspace
wallet-api/.vscode/*
!wallet-api/.vscode/settings.json
!wallet-api/.vscode/tasks.json
!wallet-api/.vscode/launch.json
!wallet-api/.vscode/extensions.json

# wallet-processor
wallet-processor/dist
wallet-processor/node_modules
wallet-processor/.env
wallet-processor/logs
wallet-processor/*.log
wallet-processor/npm-debug.log*
wallet-processor/pnpm-debug.log*
wallet-processor/yarn-debug.log*
wallet-processor/yarn-error.log*
wallet-processor/lerna-debug.log*
wallet-processor/.DS_Store
wallet-processor/coverage
wallet-processor/.nyc_output
wallet-processor/.idea
wallet-processor/.project
wallet-processor/.classpath
wallet-processor/.c9/
wallet-processor/*.launch
wallet-processor/.settings/
wallet-processor/*.sublime-workspace
wallet-processor/.vscode/*
!wallet-processor/.vscode/settings.json
!wallet-processor/.vscode/tasks.json
!wallet-processor/.vscode/launch.json
!wallet-processor/.vscode/extensions.json


